parameters:
	ignoreErrors:
		-
			message: '#^Relation ''community'' is not found in App\\Models\\Post model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''post'' is not found in App\\Models\\Comment model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Comment model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Post model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Ban\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Ban.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Comment\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Comment.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Community\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Community.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\CommunityUser\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/CommunityUser.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Post\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Post.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Vote\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Vote.php

		# Removed Dusk-related PHPStan ignore
