parameters:
	ignoreErrors:
		-
			message: '#^Relation ''community'' is not found in App\\Models\\Post model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''post'' is not found in App\\Models\\Comment model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Comment model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Post model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php
